body{margin: 0;}
div#header{
    height: 4em;
    background-image: linear-gradient(-90deg, rgb(100, 100, 255), rgb(185, 0, 185));
}

img{
    height: 3.5em;
    vertical-align: middle;
    padding: 5px 4px 5px 4px;
}

header span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    height: 100%;
    font-size: 4vmax;
    vertical-align: middle;
}

 div#data{
    justify-content: center;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex: 15em;
}

div#bahasaIndonesia, div#matematika, div#ipa, div#ips{
    margin: 10px;
    width: 15em;
    height: 8em;
    text-align: center;
    display: grid;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgb(50, 50, 50);
}

.mapel{
    margin: 10px;
    font-size: 1.5em;
    font-family: monospace;
    font-weight: 900;
}

table{
    margin: 10px;
    border-spacing: 0;
    text-align: left;
    border-color: transparent;
}

td{
    padding: 3px;
}
